@charset "UTF-8";
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-latin_cyrillic-900.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-900.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v28-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v28-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v28-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v28-latin_cyrillic-700.woff") format("woff"), url("../fonts/raleway-v28-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/raleway-v28-latin_cyrillic-700.svg#Raleway") format("svg"); /* Legacy iOS */
}
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Головна палітра кольорів */
/* Фонові кольори */
/* FLEX-змінні */
/* Тіні карток та кнопок */
/* OTHER */
.body {
  margin: 0;
  color: #757575;
  font-family: Roboto, Raleway, Montserrat, sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 100%;
}
@media screen and (max-width: 319px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

.section-clients__link, .social__link, .social, .btn-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-clients__title, .section-team__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.page-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.page-header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 1200px) {
  .page-header__flex {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.logo {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #2196f3;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

.logo__studio {
  color: #000000;
}

.logo--footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo__studio--white {
  color: #ffffff;
}

.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    margin-left: 92px;
  }
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
  }
  .nav__item {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    color: #212121;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__link:hover, .nav__link:focus {
    color: #2196f3;
  }
  .nav__link-current {
    color: #2196f3;
  }
  .nav__link-current::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
}
.contacts-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts-list {
    display: block;
  }
}
@media screen and (max-width: 1199px) {
  .contacts-list .contacts-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.contacts-list__link {
  color: #757575;
  font-size: 12px;
  line-height: 1.1666666667;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__link:hover, .contacts-list__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.contacts-list__icon {
  margin-right: 8px;
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
  .contacts-list__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.1428571429;
  }
  .contacts-list__icon {
    margin-right: 10px;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #ffffff;
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  overflow-x: hidden;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  pointer-events: auto;
}

.nav-toggle__close {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-nav {
  margin-bottom: auto;
}

.mobile-nav__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}
.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav__link-current {
  color: #2196f3;
}

.mobile-contacts-list {
  margin-bottom: 64px;
}

.mobile-contacts-list__item {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: #2196f3;
}
@media screen and (max-width: 479px) {
  .mobile-contacts-list__item {
    font-size: 24px;
    line-height: 1.4166666667;
  }
}

.mobile-contacts-list__item--noaccent {
  margin-top: 32px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 479px) {
  .mobile-socials {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px;
  }
}

.mobile-socials__item {
  padding: 0 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: #2196f3;
}
@media screen and (min-width: 480px) {
  .mobile-socials__item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
.mobile-socials__item:first-child {
  padding-left: 0;
}
@media screen and (max-width: 479px) {
  .mobile-socials__item {
    padding-left: 0;
    -ms-flex-preferred-size: calc((100% - (30px * (2 - 1))) / 2);
        flex-basis: calc((100% - (30px * (2 - 1))) / 2);
    text-align: left;
    border-bottom: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.nav-toggle {
  background-color: transparent;
  border: none;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .nav-toggle {
    display: none;
  }
}
.nav-toggle:hover, .nav-toggle:focus {
  cursor: pointer;
}

.nav-toggle:hover .nav-toggle__icon, .nav-toggle:focus .nav-toggle__icon {
  fill: #2196f3;
}

.section-features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section-features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-features__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.section-features__icons {
  margin: 0 auto;
}

.section-features__subtitle {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.section-features__text {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .section-features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  .section-features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .section-features__item {
    -ms-flex-preferred-size: calc((100% - (30px * (2 - 1))) / 2);
        flex-basis: calc((100% - (30px * (2 - 1))) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .section-features__item {
    -ms-flex-preferred-size: calc((100% - (30px * (4 - 1))) / 4);
        flex-basis: calc((100% - (30px * (4 - 1))) / 4);
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 15px;
  padding-right: 15px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(47, 48, 58, 0.6);
  opacity: 1;
  visibility: visible;
  overflow-y: scroll;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 96%;
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.75);
          transform: translate(-50%, -50%) scale(0.75);
  opacity: 0;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), scale 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover, .btn-close:focus {
  -webkit-transform: rotate(180deg) scale(1.15);
          transform: rotate(180deg) scale(1.15);
  color: #2196f3;
  cursor: pointer;
}

.btn-close__icon {
  fill: currentColor;
}

.order__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .order__title {
    line-height: 1.15;
  }
}

.order__form-field {
  position: relative;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}
.order__form-field:nth-of-type(4) {
  margin-bottom: 20px;
}

.order__label {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
}

.order__input-field {
  padding: 11px 12px;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #212121;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order__input-field:focus {
  border-color: #2196f3;
}
.order__input-field:hover {
  cursor: pointer;
}

.order__input-field:focus + .order__icon {
  fill: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order__icon {
  position: absolute;
  top: 52%;
  left: 12px;
}

.order__textarea {
  resize: none;
  padding: 12px 16px;
  width: 100%;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #212121;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
}
.order__textarea:focus {
  border-color: #2196f3;
}
.order__textarea:hover {
  cursor: pointer;
}
.order__textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.order__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.order__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.order__textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.order__textarea::placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.licence {
  position: relative;
  margin-bottom: 30px;
  padding-left: 20px;
}

.licence__lable {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .licence__lable {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.licence__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.licence__icon {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  background-origin: border-box;
}
.licence__checkbox:focus + .licence__icon {
  border-color: #2196f3;
}
.licence__checkbox:checked + .licence__icon {
  background-color: #2196f3;
  border-color: #2196f3;
}

.licence__link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

.button {
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 216px;
  min-height: 50px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.button--form {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 52px;
  min-width: 200px;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 400px;
  background-color: #2f303a;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/adaptive/mobile/optimized/hero-img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/adaptive/mobile/optimized/hero-img.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/adaptive/mobile/optimized/hero-img@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/adaptive/mobile/optimized/hero-img@2x.jpg);
  }
}
@media screen and (min-width: 480px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/adaptive/tablet/optimized/hero-img.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/adaptive/tablet/optimized/hero-img.jpg);
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/adaptive/tablet/optimized/hero-img@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/adaptive/tablet/optimized/hero-img@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/adaptive/desctop/optimized/bg-img.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/adaptive/desctop/optimized/bg-img.jpg);
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/adaptive/desctop/optimized/bg-img@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/adaptive/desctop/optimized/bg-img@2x.jpg);
  }
}
.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 360px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.3636363636;
    max-width: 696px;
  }
}

.section-works {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section-works {
    display: block;
    padding-bottom: 94px;
  }
  .section-works__title {
    margin-bottom: 50px;
    color: #212121;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
  }
  .section-works__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .section-works__item {
    -ms-flex-preferred-size: calc((100% - (30px * (3 - 1))) / 3);
        flex-basis: calc((100% - (30px * (3 - 1))) / 3);
  }
  .section-works__thumb {
    position: relative;
    width: 100%;
  }
  .section-works__text {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    min-height: 70px;
    padding-top: 27px;
    padding-bottom: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428571429;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    color: #ffffff;
  }
}
.section-team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}
@media screen and (min-width: 1200px) {
  .section-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .section-team__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 768px) {
  .section-team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.section-team__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
@media screen and (max-width: 768px) {
  .section-team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .section-team__item {
    -ms-flex-preferred-size: calc((100% - (30px * (2 - 1))) / 2);
        flex-basis: calc((100% - (30px * (2 - 1))) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .section-team__item {
    -ms-flex-preferred-size: calc((100% - (30px * (4 - 1))) / 4);
        flex-basis: calc((100% - (30px * (4 - 1))) / 4);
  }
}

.section-team__description {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .section-team__description {
    padding-bottom: 30px;
  }
}

.section-team__name {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-team__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
}

.social {
  gap: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  color: #afb1b8;
  fill: currentColor;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  cursor: pointer;
}

.social-group__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .social-group__title {
    text-align: left;
  }
}

.social__icon--footer {
  fill: #ffffff;
}

.social__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.section-clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section-clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .section-clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.section-clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.section-clients__item {
  -ms-flex-preferred-size: calc((100% - (30px * (2 - 1))) / 2);
      flex-basis: calc((100% - (30px * (2 - 1))) / 2);
}
@media screen and (min-width: 768px) {
  .section-clients__item {
    -ms-flex-preferred-size: calc((100% - (30px * (3 - 1))) / 3);
        flex-basis: calc((100% - (30px * (3 - 1))) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .section-clients__item {
    -ms-flex-preferred-size: calc((100% - (30px * (6 - 1))) / 6);
        flex-basis: calc((100% - (30px * (6 - 1))) / 6);
  }
}

.section-clients__link {
  padding: 16px 0;
  width: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-clients__link:hover, .section-clients__link:focus {
  color: #2196f3;
  fill: #2196f3;
  border-color: #2196f3;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.footer {
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .footer__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    gap: 93px;
  }
}

.footer__group {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__group {
    text-align: left;
  }
}

.address__list {
  width: 210px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.address__link--white {
  color: #ffffff;
}

.subscription {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .subscription {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription {
    width: 100%;
    text-align: left;
  }
}

.subscription__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.subscription__input {
  display: inline-block;
  margin-bottom: 20px;
  padding: 15px 16px;
  font-size: 14px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
}
.subscription__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscription__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1200px) {
  .subscription__input {
    display: inline;
    margin-right: 12px;
    margin-bottom: 0;
    width: 350px;
  }
}

.subscription__button {
  padding: 10px 28px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  min-height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
}

.subscription__icon {
  fill: currentColor;
  margin-left: 10px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .filters-list {
    max-width: 430px;
  }
}
@media screen and (min-width: 768px) {
  .filters-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 0;
  }
}

.button-filters {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  min-height: 38px;
  border: none;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: inherit;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-filters:hover, .button-filters:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 355px) {
  .button-filters {
    font-size: 15px;
    padding: 6px 18px;
  }
}

@media screen and (max-width: 768px) {
  .project-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .project-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: calc((100% - (30px * (2 - 1))) / 2);
        flex-basis: calc((100% - (30px * (2 - 1))) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .project-list__item {
    -ms-flex-preferred-size: calc((100% - (30px * (3 - 1))) / 3);
        flex-basis: calc((100% - (30px * (3 - 1))) / 3);
  }
}

.project-list__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-list__link:hover, .project-list__link:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 768px) {
  .project-list__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .project-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.project-thumb {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.project-thumb__overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  padding: 49px 24px 0;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translatey(101%);
          transform: translatey(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-list__link:hover .project-thumb__overlay, .project-list__link:focus .project-thumb__overlay {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.project-thumb__desc {
  padding: 20px 24px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

.project-thumb__title {
  margin-bottom: 4px;
  color: #212121;
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-thumb__text {
  font-size: 16px;
  line-height: 1.88;
}/*# sourceMappingURL=main.css.map */