.address__list {
  width: 210px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);

  transition: color $animation;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.address__link--white {
  color: $white-txt-color;
}
