.logo {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;

  color: #2196f3;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;

@media screen and (min-width: 768px) {
  padding-top: 26px;
    padding-bottom: 26px;
}
}

.logo__studio {
  color: #000000;
}

.logo--footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo__studio--white {
  color: $white-txt-color;
}

