.page-header {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  border-bottom: 1px solid #ececec;
}

.page-header__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 1200px) {
    & {
      justify-content: flex-start;
    }
  }
}
